/* Reset default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work sans', sans-serif;
}

/* Add your custom styles here */
h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

/* .work-sans-proper {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */